h3{
    color:brown;
    background-color: aqua;
    padding-left: 20px;
    padding-top: 20px;
}
.color{
    color:blue; background-color: aqua;
    padding: 20px;
}
h1{
    color:rgb(255, 12, 52); pad
}
p{
    color: greenyellow;
}