body{
    background-color: black;
    
}

.color{
    color:brown;
    background-color: rgb(247, 244, 244);
    padding-right: 20px;
    padding-centre: 20px;
    font-size: x-large;
    font-style: italic;
    font-weight: bolder;
    font-variant: small-caps;
    text-transform: capitalize;
    text-align: justify;
    text-indent: 0%;
    width: 100%;
    text-shadow: -20px 0px 10px #faea0c23;
    

}



h1{
    color:rgb(255, 12, 52);
    text-align: justify;
    margin: 2%;
}

p{
    color: greenyellow;
    word-spacing: 1em;
    text-align: justify;
}